body {
		background-color: rgb(230,230,230);

}

a{
	margin-right:15px;
	font-family: matrix-ii, serif;
}

h2{
	font-size:10px;
	font-style:red;
	float:left;
}



.lightbox{
	position:absolute;
	top:0;
	width:2700px;
	height:1700px;

}

.lightboxone {
	position:absolute;
	width:300px;
	height:600px;
	/*background-color:#99CCCC;*/
	opacity:.8;
	z-index:0;
	left:1600px;
	top:650px;	
}

.boxtwo {
	position:absolute;
	width:300px;
	height:600px;
	/*background-color:#99CCCC;*/
	opacity:.8;
	z-index:0;
	left:1600px;
	top:700px;	
}


.boxthree{
	position:absolute;
	width:300px;
	height:600px;
	/*background-color:#99CCCC;*/
	opacity:.8;
	z-index:0;
	left:1600px;
	top:700px;		
}

.boxfour{
	position:absolute;
	width:300px;
	height:600px;
	/*background-color:#99CCCC;*/
	opacity:.8;
	z-index:0;
	left:1600px;
	top:700px;	
}

.boxfive{
	position:absolute;
	width:300px;
	height:600px;
	/*background-color:#99CCCC;*/
	opacity:.8;
	z-index:0;
	left:1800px;
	top:1100px;	
}
.boxsix{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:2000px;
	top:1100px;	
}

.boxseven{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:2000px;
	top:1100px;	
}

.boxeight{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1950px;
	top:1100px;		
}
.boxnine{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxten{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxeleven{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxtwelve{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxthirteen{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxfourteen{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxfifteen{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxsixteen{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxseventeen{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxeighteen{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxnineteen{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}
.boxtwenty{
	position:absolute;
	width:300px;
	height:600px;
	opacity:.8;
	z-index:0;
	left:1500px;
	top:1000px;	
}

/* top section */

#bigasscircles{
position:absolute;
top:-10px;

}

/* LINES */

.line{
	position:absolute;
	left:1850px;
	top:555px;
}

.line2{
	position:absolute;
	left:2150px;
	top:770px;
}

.line3{
	position:absolute;
	left:2150px;
	top:770px;
}
.line4{
	position:absolute;
	left:1847px;
	top:770px;
}

.line5{
	position:absolute;
	left:1850px;
	top:990px;
}

.line6{
	position:absolute;
	left:1855px;
	top:990px;
}

.line7{
	position:absolute;
	left:1870px;
	top:945px;
}

.line8{
	position:absolute;
	left:360px;
	top:725px;
}
.line9{
	position:absolute;
	left:330px;
	top:345px;
}
.line10{
	position:absolute;
	left:360px;
	top:309px;
}
.line11{
	position:absolute;
	left:365px;
	top:555px;
}
.line12{
	position:absolute;
	left:385px;
	top:335px;
}

/* Containers */

.container{
	width:2700px;
	height:1500px;
	background-color: rgb(230,230,230);
}

#containertwo{
	width:2700px;
	height:1700px;
	top:0;
	background-color: rgb(230,230,230);
	position:absolute;
}



.one {
	width:2700px;
	height:95px;

}

.rec {
	width:2700px;
	font-size:30px;
	position: fixed;
}


/* main body */

.two{
	width:2700px;
	height:371px;
}

.column {
	width:295px;
	height:1500px;
	/*background-color:grey;*/
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}


/* The stories */

/* STORY ONE */

.storyone{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 1px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
   
}

.storyone:hover {
   -webkit-transform: scale(2.5);
    transform: scale(2.5);
}




.medicaldoctor {
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
}

/*STORY TWO*/

.storytwo{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwo:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

.storytwopt2{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
    
}

.storytwopt2:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}




.prescriptions{
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;
}

.bloodtesting{
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;
}

/*THREE*/
.storythree{
		
	width: 25px;
	height: 25px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	margin-top:10px;
	-webkit-transition: -webkit-transform 1050ms;
    transition: transform 1050ms;
    
}

.storythree:hover {
	-webkit-transform: scale(3.0);
    transform: scale(3.0);
}


/*FOUR*/

.storyfour{
	font-size:0px;
	width: 25px;
	height: 25px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-left: -5px;
	
	margin-top:10px;
	-webkit-transition: -webkit-transform 1050ms;
    transition: transform 1050ms;
}

.storyfour:hover {
	-webkit-transform: scale(3.0);
    transform: scale(3.0);
    
}



.gastro{
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;
}

/*FIVE*/
.storyfive{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 1px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
}

.storyfive:hover {
	 -webkit-transform: scale(2.5);
    transform: scale(2.5);
    
}



/*SIX*/
.storysix{
	
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storysix:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

.nutritionist {
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}

/*SEVEN*/

.storyseven{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
   
}

.storyseven:hover {
   -webkit-transform: scale(2.5);
    transform: scale(2.5);
}

.xray {
	/*background-color:red;*/
	height:5px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}


/*EIGHT*/


.storyeight{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
   
}

.storyeight:hover {
   -webkit-transform: scale(2.5);
    transform: scale(2.5);
}

.naturopathy {
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}


/*NINE*/
.storynine{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storynine:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    

}

.herbalism {
	/*background-color:red;*/
	height:5px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}

.nutritionanddiet {
	/*background-color:red;*/
	height:5px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}

.sleep {
	/*background-color:red;*/
	height:5px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}

.labtesting{
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;
}

/*TEN*/
.storyten{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyten:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

/*ELEVEN*/
.storyeleven{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyeleven:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}


/*TWELVE*/
.storytwelve{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwelve:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

/*THIRTEEN*/
.storythirteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storythirteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}


/*FOURTEEN*/

.storyfourteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyfourteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

/*FIFTEEN*/
.storyfifteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyfifteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}
/*SIXTEEN*/
.storysixteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storysixteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}
/*SEVENTEEN*/
.storyseventeen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyseventeen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}
/*EIGHTEEN*/
.storyeighteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyeighteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*NINETEEN*/
.storynineteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storynineteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}    

/*TWENTY*/
.storytwenty{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwenty:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

.herbalism {
	/*background-color:red;*/
	height:5px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}
/*TWENTYONE*/
.storytwentyone{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwentyone:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*TWENTYTWO*/
.storytwentytwo{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwentytwo:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*TWENTYTHREE*/
.storytwentythree{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 0px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
}

.storytwentythree:hover {
	 -webkit-transform: scale(2.5);
    transform: scale(2.5);
}




/*TWENTYFOUR*/
.storytwentyfour{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwentyfour:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

.immuno {
	/*background-color:red;*/
	height:5px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}

/*DETOX*/
.detox{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.detox:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}
.detoxification {
	/*background-color:red;*/
	height:5px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}
/*blah*/

.smallcircle {
	width: 7px;
	height: 7px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 0 auto;
    position: relative;
}

.smallcircle{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.smallcircle:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

.mediumcircle {
	width: 25px;
	height: 25px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	 margin-top:10px;
	-webkit-transition: -webkit-transform 850ms;
    transition: transform 850ms;
}

.mediumcircle:hover {
   -webkit-transform: scale(5.0);
    transform: scale(5.0);
}



.largecircle{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
   
}

.largecircle:hover {
   -webkit-transform: scale(2.5);
    transform: scale(2.5);
}




/* dates on the dots*/
.march13{
	position:relative;
	top:25%;
	left:20%;
	width:0px;
	
	
}

div:hover >.march13{
	width:60%;
	
}


.april13{
	position:relative;
	top:25%;
	left:25%;
	width:0px;
}

div:hover >.april13{
	width:50%;
	
}


/* rows */

.rowone{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: red;*/
}

.rowtwo{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: orange;*/
}
.rowthree{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: yellow;*/
}
.rowfour{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: green;*/
}
.rowfive{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: blue;*/
}
.rowsix{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: purple;*/
}
.rowseven{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: red;*/
}



/* bottom section */



.rec2 {
	width:2700px;
	/*background-color:grey;*/
	position: fixed;
	bottom: 10px;
	margin-left:30%;
	margin-right:30%;
}



.bottomcircle {
	width: 12px;
	height: 12px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	text-align:center;
	font-size: 12px;
	float: left;
	margin-left: 50px;
}

.zdex {
	z-index:10;
	position:absolute;
}


