body {
		background-color: rgb(230,230,230);

}

a{
	margin-right:15px;
	font-family: matrix-ii, serif;
}

h2{
	font-size:10px;
	font-style:red;
	float:left;
}



.lightbox{
	position:absolute;
	top:0;
	width:2700px;
	height:1700px;

}

.lightboxone {
	position:absolute;
	width:300px;
	height:600px;
	/*background-color:#99CCCC;*/
	opacity:.8;
	z-index:0;
	left:900px;
	top:30px;	
}



.stuf{
	position:absolute;
	margin:auto;
	top:20%;
}





/* top section */

#bigasscircles{
position:absolute;
top:-10px;

}

/* LINES */

.line{
	position:absolute;
	left:1850px;
	top:555px;
}

.line2{
	position:absolute;
	left:2150px;
	top:770px;
}

.line3{
	position:absolute;
	left:1560px;
	top:330px;
}

.line5{
	position:absolute;
	left:1305px;
	top:315px;
}


/* Containers */

.container{
	width:2700px;
	height:1500px;
	background-color: rgb(230,230,230);
}

#containertwo{
	width:2700px;
	height:1700px;
	top:0;
	background-color: rgb(230,230,230);
	position:absolute;
}



.one {
	width:2700px;
	height:95px;

}

.rec {
	width:2700px;
	font-size:30px;
	position: fixed;
}


/* main body */

.two{
	width:2700px;
	height:371px;
}

.column {
	width:295px;
	height:1500px;
	/*background-color:grey;*/
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}


/* The stories */

/* STORY ONE */

.storyone{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
   
}

.storyone:hover {
   -webkit-transform: scale(2.5);
    transform: scale(2.5);
}






.text {
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}

/*STORY TWO*/

.storytwo{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwo:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

.texttwo {
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;
}


/*THREE*/
.storythree{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storythree:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}


/*FOUR*/

.storyfour{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyfour:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}



/*FIVE*/

/*SIX*/

/*SEVEN*/

.storyseven{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
   
}

.storyseven:hover {
   -webkit-transform: scale(2.5);
    transform: scale(2.5);
}

.textseven {
	/*background-color:red;*/
	width:150px;
	float:left;
	position:absolute;
	margin-top:40px;
	font-size:12px;

}

/*EIGHT*/


.storyeight{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyeight:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

/*NINE*/
.storynine{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storynine:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

/*TEN*/
.storyten{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyten:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

/*ELEVEN*/
.storyeleven{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyeleven:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}


/*TWELVE*/
.storytwelve{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwelve:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

/*THIRTEEN*/
.storythirteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storythirteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}


/*FOURTEEN*/

.storyfourteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyfourteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

/*FIFTEEN*/
.storyfifteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyfifteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}
/*SIXTEEN*/
.storysixteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storysixteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}
/*SEVENTEEN*/
.storyseventeen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyseventeen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}
/*EIGHTEEN*/
.storyeighteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storyeighteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*NINETEEN*/
.storynineteen{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storynineteen:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}    

/*TWENTY*/
.storytwenty{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwenty:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}
/*TWENTYONE*/
.storytwentyone{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwentyone:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*TWENTYTWO*/
.storytwentytwo{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwentytwo:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*TWENTYTHREE*/
.storytwentythree{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwentythree:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*TWENTYFOUR*/
.storytwentyfour{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.storytwentyfour:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*DETOX*/
.detox{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.detox:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
}

/*blah*/

.smallcircle {
	width: 7px;
	height: 7px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 0 auto;
    position: relative;
}

.smallcircle{
	font-size:0px;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
     margin-top:20px;
}

.smallcircle:hover {
	transform: translate(0,-90px);
   -webkit-transform: scale(7);
    transform: scale(7);
    
}

.mediumcircle {
	width: 25px;
	height: 25px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	 margin-top:10px;
	-webkit-transition: -webkit-transform 850ms;
    transition: transform 850ms;
}

.mediumcircle:hover {
   -webkit-transform: scale(5.0);
    transform: scale(5.0);
}



.largecircle{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-right: 3px;
	-webkit-transition: -webkit-transform 1200ms;
    transition: transform 1200ms;
    margin-top:0px;
   
}

.largecircle:hover {
   -webkit-transform: scale(2.5);
    transform: scale(2.5);
}




/* dates on the dots*/
.march13{
	position:relative;
	top:25%;
	left:20%;
	width:0px;
	
	
}

div:hover >.march13{
	width:60%;
	
}


.april13{
	position:relative;
	top:25%;
	left:20%;
	width:0px;
	
	
}

div:hover >.april13{
	width:60%;
	
}


/* rows */

.rowone{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: red;*/
}

.rowtwo{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: orange;*/
}
.rowthree{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: yellow;*/
}
.rowfour{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: green;*/
}
.rowfive{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: blue;*/
}
.rowsix{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: purple;*/
}
.rowseven{
	width:70%;
	height:214px;
	margin: 0 auto;
	/*background-color: red;*/
}



/* bottom section */



.rec2 {
	width:2700px;
	/*background-color:grey;*/
	position: fixed;
	bottom: 10px;
	margin-left:30%;
	margin-right:30%;
}



.bottomcircle {
	width: 12px;
	height: 12px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	text-align:center;
	font-size: 12px;
	float: left;
	margin-left: 50px;
}

.zdex {
	z-index:10;
	position:absolute;
}


